.navbar_navegation{ 
	background-color: #ffffff;

}
.navbar_tiatomate{

}
.header_tiatomate{
	background-color: #E56353;
	 color: #ffffff;


}
.header_tiatomate h1{
	background-color: #E56353;
	font-family: Raleway:200;

}
.header_tiatomate h2{
	background-color: #E56353;
    font-family: Raleway:700;
    color: #ffffff;

}
.button_tiatomate{
	background-color: #ffffff;
	color: #707070;
	font-family: Raleway:200;
	


}
.section_historia{

}
.section_producto{

}
.section_nosotros{
    background-color: #E56353;
    font-family: Raleway:200;
    color: #ffffff;

}
.section_compra{
    background-color: #E56353;
    font-family: Raleway:200;
     color: #ffffff;

}
.footer_tiatomate{

}